{% extends 'base.html.twig' %}

{% block pageTitle %}Home - {{ parent() }}{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    {{ parent() }}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Party Planner</h1>
        <p class="lead">It's just a kind of Hello World. But If you can do it with style, it's always better !</p>
    </div>
</div>
{% endblock %}
