{% extends 'base.html.twig' %}

{% block pageTitle %}Events list - {{ parent() }}{% endblock %}

{% block title %}Events list{% endblock %}

{% block body %}
    {{ parent() }}

    <ul>
    {% for event in events %}
        <li><a href="{{ path('event', {'id' : event.id}) }}">{{ event.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}